<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" bootstrap="../vendor/autoload.php" failOnRisky="true" failOnWarning="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory="../.coverage/.phpunit.cache">
  <coverage pathCoverage="true">
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <exclude>
      <directory>../src/Attributes</directory>
      <directory>../src/Exceptions</directory>
      <file>../src/RouterBoot.php</file>
    </exclude>
    <report>
      <html outputDirectory="../.coverage"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Route Test Suite">
      <directory>./</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
